.task-conteiner{
    z-index: 99;
    width: 30vw;
    height: 65vh;
    box-sizing: border-box;
    background-color: whitesmoke;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 3vh;
    border:3px solid black;
    border-radius:10px ;
    box-shadow: 15px 15px 10px rgba(0,0,0, 0.2);
}




.task-conteiner *{
    margin-top: 5px;
    border-radius: 5px;
}

.task-conteiner__error-list-conteiner{
   font-size: 1.5vh;
    
}


.task-conteiner__title-conteiner{
    display: flex;
    justify-content: space-around;
}

.task-conteiner__description-conteiner{
    display: flex;
    justify-content: space-around;
}

.task-conteiner__date-conteiner{
    display: flex;
    justify-content: space-around;
}

.task-conteiner__time-conteiner{
    display: flex;
    justify-content: space-around;
}

.task-conteiner__repeat-period-conteiner{
    display: flex;
    justify-content: space-around;
}

.task-conteiner__users-conteiner{
    display: flex;
    margin-left: 3vh;
    flex-direction: column;

}

.task-conteiner__description-conteiner__description-const{
    cursor: pointer;
    overflow:hidden scroll ;
    border: 0px solid whitesmoke;
    background-color: whitesmoke;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 3vh;
    width: 45vh;
    height: 15vh;
    resize: none;
}

.conteiner-background{
    cursor: pointer;
    width: 100vw;
    height:100vh;
    position: fixed;
    left:0%;
    top: 0%;
    background-color: rgba(0,0,0,0.3);
    z-index:0;
}

.input__label1{
    margin-right: 5vw;
    }
    
.input__label2{
    margin-right: 4vw;
    }
.input__label3{
margin-right: 9vw;
}
.input__label4{
    margin-right: 13vw;
    }

@media screen and (max-width :900px) {
    .task-conteiner{
            width: 60vh;
            height: 70vh;
    }
  input.checkbox-wrapper__input{
    width: 20px;
    height: 30px;
  }

}
