.calendar{
    background-color:rgb(243, 231, 208);
    
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.calendar__block{
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border: 2px black solid;
    cursor:pointer;
    
   }