.dateBlock{
    margin-top: 1vh;
border: 0.3vh solid black;
background-color: white;  
display: flex;
justify-content: space-between;
border-radius: 0.4vh;
box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
width: 9vw;
height:5vh;
margin-right:  29vw;
}

.dateBlock__arrowRight{
    cursor: pointer;
}


.dateBlock__arrowLeft{
    cursor: pointer;
   
}


.dateBlock__arrowImg{
   width: 1.5vw;
    height:4.5vh;
}


.dateBlock__date
{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
}
