body {
 background-color:rgba(247, 245, 243, 0.918);
 
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.App{
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 10fr;
}